<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">
    <h2>Thêm Sản Phẩm</h2>
    <form id="addProductForm">
        <div class="mb-3">
            <label for="productName" class="form-label">Tên Sản Phẩm:</label>
            <input type="text" class="form-control" id="productName" required>
        </div>
        <div class="mb-3">
            <label for="productDescription" class="form-label">Mô Tả:</label>
            <textarea class="form-control" id="productDescription" rows="3" required></textarea>
        </div>
        <div class="mb-3">
            <label for="productUnit" class="form-label">Đơn Vị:</label>
            <input type="text" class="form-control" id="productUnit" required>
        </div>
        <div class="mb-3">
            <label for="productManufacturer" class="form-label">Nhà Sản Xuất:</label>
            <input type="text" class="form-control" id="productManufacturer" required>
        </div>
        <div class="mb-3">
            <label for="productStatus" class="form-label">Trạng Thái:</label>
            <input type="text" class="form-control" id="productStatus" required>
        </div>
        <button type="button" class="btn btn-primary" onclick="addProduct()">Thêm Sản Phẩm</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<script>
    function addProduct() {
        fetch("/add", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                name: document.getElementById("productName").value,
                description: document.getElementById("productDescription").value,
                unit: document.getElementById("productUnit").value,
                manufacturer: document.getElementById("productManufacturer").value,
                status: document.getElementById("productStatus").value
            })
        })
            .then(response => {
                if (response.ok) {
                    window.location.href = '/listproduct';
                } else {
                    console.error('Thêm sản phẩm không thành công');
                }
            })
    }
</script>

</body>
</html>